# Copy this file to mailing.properties and fill your real credentials
mailersend.api.key=ms_XXXXXXXXXXXXXXXXXXXXXXXX
mailersend.from.email=verified-sender@yourdomain.com
mailersend.from.name=PIDEV Formation
