{% extends 'base.html.twig' %}
{% block body %}
<h2>Recrutements</h2>
<a class="btn" href="{{ path('app_recrutement_new') }}">Nouveau recrutement</a>
<table>
<thead><tr><th>Offre</th><th>Candidat</th></tr></thead>
<tbody>
{% for item in items %}
<tr><td>{{ item.offre.nomOffre }}</td><td>{{ item.candidat.nom }} {{ item.candidat.prenom }}</td></tr>
{% else %}<tr><td colspan="2">Aucun recrutement</td></tr>{% endfor %}
</tbody>
</table>
{% endblock %}
